h1{
    text-align: center;
    font-size: 350%;
    border-bottom: 2px solid;
    font-weight: 900;
    padding-bottom: 5px;
    color: yellow;
}
h2{
    font-size: 150%;
    text-decoration: underline;
}
table{
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;

  }
.gradient-button:hover {
    background-position: right center;
  }
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD93voYxn3k7melIPM2Nrg4q7ROee5THhDhA&usqp=CAU);
    padding: 5px;
    color: white;
    font-weight: 900;
    font-size: medium;
    font-style: normal;
}
    a:active {
    color:#0000ff;
    font-weight:bold
}     
    a:visited {
    color:#66cc66;
    font-weight:bold
}
    a:hover {
    color:#ff0000;
    font-weight:bold;
    text-decoration:none
}